
<div class="row">

        <wish-list-form></wish-list-form>

    <div class="col-lg-4 ">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-support fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div style="font-size:35px;">26</div>
                        <div> Hot Stock From Yesterday !!!</div>
                    </div>
                </div>

            </div>
            <div class="task-list panel-body">

                <div *ngFor="let stock of hotStock">
                    <div class="col-sm-1">
                        <input type="checkbox" (click)="updateStatus(stock)">
                    </div>
                    <div class="col-sm-4">
                        <div>
                            {{stock.ticker}}
                        </div>
                    </div>
                    <div class="col-sm-3">
                        {{stock.closePrice}}
                    </div>
                    <div class="col-sm-3">
                        <span ng-class="{'color-red': stock.percentChange < -5, 'color-green': stock.percentChange > 5}">{{stock.percentChange}}</span>
                    </div>
                    <div class="row">
                        <div class="col-sm-12" style="font-size:10px ">
                            <span style="float: left"> {{stock.lastChange}}</span>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
