<div class="col-lg-4">
    <div class="panel panel-success">
        <div class="panel-heading">
    <h1>Wish List Form</h1>
    <form>
        <div class="form-group">
            <label for="ticker">Ticker</label>
            <input type="text" class="form-control" id="ticker" required [(ngModel)]="wish.ticker" name="ticker">
            TODO: remove this: {{wish.ticker}}
        </div>
        <div class="form-group">
            <label for="price">Price</label>
            <input type="text" class="form-control" id="price" required [(ngModel)]="wish.price" name="price">
            TODO: remove this: {{wish.price}}
        </div>
        <button type="submit" class="btn btn-success" (click)="addToWishList($event,wish)">Submit</button>




    </form>
    <div *ngFor="let list of lists.wishList">
        <div class="col-sm-1">
            {{list.price}}
        </div>
        <div class="col-sm-9">
            {{list.ticker}}
        </div>
        <div class="col-sm-1">
            <input type="button" (click)="deleteWishList($event,list._id)" value="X" class="btn btn-danger">
        </div>
        <br><br>
    </div>
            </div>
    </div>
</div>

<div class="col-lg-4">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h1>Own List Form</h1>
            <form>
                <div class="form-group">
                    <label for="ticker">Ticker</label>
                    <input type="text" class="form-control"  required [(ngModel)]="own.ownticker" name="ownticker">
                    TODO: remove this: {{own.ownticker}}
                </div>
                <div class="form-group">
                    <label for="price">Price</label>
                    <input type="text" class="form-control" required [(ngModel)]="own.ownprice" name="ownprice">
                    TODO: remove this: {{own.ownprice}}
                </div>
                <button type="submit" class="btn btn-success" (click)="addToOwnedList($event,own)">Submit</button>




            </form>
            <div *ngFor="let list of lists.ownList">
                <div class="col-sm-1">
                    {{list.price}}
                </div>
                <div class="col-sm-9">
                    {{list.ticker}}
                </div>
                <div class="col-sm-1">
                    <input type="button" (click)="deleteOwnList($event,list._id)" value="X" class="btn btn-danger">
                </div>
                <br><br>
            </div>
         <!--   ownList : {{lists.ownList | json}}; !-->
        </div>
    </div>
</div>



