
<div>http://quotes.morningstar.com/stockq/c-recommencation?&t=XNAS:GRPN&region=usa&culture=en-US&version=RET&cur=</div>
<table width="100%" cellspacing="0" cellpadding="0" class="gr_table_b1">
    <tbody>
    <tr class="gr_table_row7">
        <td>
            Current
        </td>
        <td>
            2.6
        </td>
        <td style="border-bottom:none;" class="gr_table_colm18">
            &nbsp;
        </td>
        <td>
            <table width="100%" cellspacing="0" cellpadding="0" style="">
                <tbody>
                <tr height="15">
                    <td width="50.0%" style="border-bottom:none;">
                    </td>
                    <td width="9.0%" style="background-color:#DC0000">
                    </td>
                    <td width="41.0%" style="border-bottom:none;">
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>

    <tr valign="top" class="gr_table_row2b">
        <td colspan="2">
            Total Analysts&nbsp;:  5            </td>
        <td style="border-bottom:none;" class="gr_table_colm18">
            &nbsp;
        </td>
        <td class="gr_text4">
            <table width="100%" cellspacing="0" cellpadding="0" style="">
                <tbody>
                <tr height="5">
                    <td align="left">
                        <img src="//quotes.morningstar.com/stockq/static/common/img/gr_tick.gif">
                    </td>
                    <td align="center">
                        <img align="middle" src="//quotes.morningstar.com/stockq/static/common/img/gr_tick.gif">
                    </td>
                    <td align="right">
                        <img src="//quotes.morningstar.com/stockq/static/common/img/gr_tick.gif">
                    </td>
                </tr>
                <tr valign="top" height="20" style="line-height:14px">
                    <td align="left" width="33%">
                        5.0
                        <br>
                        Buy
                    </td>
                    <td align="center" width="34%">
                        3.0
                        <br>
                        Hold
                    </td>
                    <td align="right" width="33%">
                        1.0
                        <br>
                        Sell
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
